@model webPay.Models.PageAttribute.CustomersPageAttribute
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>membershipType</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in @Model.Customers)
    {
        <tr>
        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
        <td>@customer.MemberShipType.Name</td>
        </tr>
    }
    </tbody>
</table>


